.cardContainer {
  width: 380px;
  margin: 8rem auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 0.8rem;
  background-color: var(--gray-800);
}

@media (max-width: 500px) {
  .cardContainer {
    width: 85%;
    margin: 4em auto;
  }
}
