.linkContainer {
  width: 86%;
  padding: 1.4rem;
  margin: 0.9rem auto;
  display: flex;
  justify-content: center;
  color: var(--link-color);
  font-weight: bold;
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  border-radius: 0.8rem;
  background-color: var(--gray-700);
}

.linkContainer:hover {
  filter: brightness(80%);
  color: var(--link-hover);
}
