:root {
  --gray-700: #272f43;
  --gray-800: #181f2e;
  --gray-900: #0a0f1a;

  --primary: #0da170;


  --link-color: #10b981;
  --link-hover: #0b8a60;

  --text-default: #e6e9f0;
 
}

:root[data-theme="light"] {
  --gray-700: #aab3cc;
  --gray-800: #cdd3e1;
  --gray-900: #e6e9f0;

  --text-default: #0a0f1a;

  --link-color: #0b8a60;
  --link-hover: #065f46;
}
